.collapse.show {
  display: block !important;
  /* Show the menu */
}

.navbar-collapse {
  text-align: center;
  /* Adjust alignment */
}

.navbar-toggler {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.navbar-brand {
  margin-right: auto;
}

.header_area .navbar {
  background: #ffffff;
}

.home_info_area {
  margin-top: 100px;
  margin-bottom: 50px;
}

.home_work_img {
  vertical-align: bottom;
}


.btn {
  margin-right: 5px;
}

.card {
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 5em;
}

@media (max-width: 1000px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .home_right_img {
    display: none;
  }

  .card {
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 3em;
  }
}

@media (min-width: 1000px) {
  .row {
    flex-direction: row;
    margin-bottom: 20px;
  }

  .col-lg-5,
  .col-lg-6,
  .col-lg-7 {
    width: 50%;
    box-sizing: border-box;
  }


}

.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider {
  width: 20px;
  height: 250px;
  background-color: #ddd;
  position: relative;
  cursor: pointer;
}

.slider-thumb {
  width: 20px;
  height: 20px;
  background-color: orange;
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
}

.technology-box {
  padding: 10px;
  text-align: center;
  justify-content: center;
  font-size: x-large;
}

/* PolaroidGallery.css */

.gallery {
  position: relative;
  height: 500px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center; /* Centers the polaroids horizontally */
  align-items: center;    /* Centers the polaroids vertically */
}

.polaroid {
  position: relative; /* Changed from absolute to relative for centering */
  background-color: white;
  border: 10px solid rgba(255, 255, 255, 0.959);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.polaroid .image {
  width: 500px;
  aspect-ratio: 1.5/1;
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
  @media (max-width: 430px) {
    width: 250px;
  }
}

.polaroid h3 {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 25px;
  text-align: center;
}

.polaroid p {
  margin: 0;
  font-size: 14px;
  text-align: center;
  color: gray;
}




.polaroid:not(.active) {
  display: none;
}

.polaroid.active {
  display: flex;
}



.work-cycle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.cycle-step {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  white-space: normal;
  flex: 1 1 100%; 
}

/* Media query for larger screens (above 430px) */
@media (min-width: 431px) {
  .cycle-step {
    max-width: 120px; 
    flex: 1 1 auto; 
  }
}



/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fa;
  padding: 20px;
}

.expertise-container {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line when they don't fit */
  justify-content: flex-start; /* Aligns items to the start of the container */
  gap: 1px; /* Adds space between items */
  justify-content: space-between;
}

@media (max-width: 430px) {
  .expertise-container {
    justify-content: center; /* Center the cards horizontally */
  }
}

/* Card Styles */
.expertise-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Adjust the card width */
  transition: transform 0.3s;
  margin-bottom: 1rem;
}

.expertise-card:hover {
  transform: translateY(-10px);
}

.card-header {
  background-color: #0066cc;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.technology-list {
  list-style-type: none;
  padding: 0;
}

.technology-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.technology-name {
  font-weight: bold;
}

.technology-experience {
  color: #666;
}

.expertise-card:hover .card-header {
  background-color: #005bb5;
}

.impact-list {
  list-style-type: disc; 
  margin-left: 20px;      
  padding-left: 0;   
}

/* PortfolioCardComponent.css */

.portfolio-card {
  display: flex;
  flex-direction: column; /* Default to column layout */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
  background-color: #fff;
}

.portfolio-card-img-container {
  flex: none;
  width: 100%; /* Image takes full width in column layout */
}

.portfolio-card-img {
  width: 100%;
  height: auto;
  display: block;
}

.portfolio-card-content {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.portfolio-card-text {
  flex: 1;
}

.portfolio-card-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.portfolio-card-description {
  margin-bottom: 10px;
}

.portfolio-card-technologies {
  margin-bottom: 10px;
}

.portfolio-card-impact-list {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

.portfolio-card-footer {
  margin-top: 10px;
  font-size: 12px;
  color: #888;
}

/* Responsive styles */
@media (min-width: 800px) {
  .portfolio-card {
      flex-direction: row; /* Switch to row layout for desktop */
  }

  .portfolio-card-img-container {
      width: 30%; /* Image takes 30% width in row layout */
      margin-right: 16px;
  }

  .portfolio-card-content {
      width: 70%;
      padding: 16px;
  }
}
